.logo{
    width:50px;
    height: auto;
}
.title{
    padding-top: 9px;
    font-size: 34px;
}
 .children
{
    display: flex;
    flex-direction: row;
}
.main
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    color:#3F93DD ;
    border-bottom: solid 3px ;
}
.btn{
    font-size: 40px;
    border-style: none;
    background-color: #fff;
    color:#3F93DD;
}
.name{
    font-size: 24px;
    padding-top: 10px;
}

